<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_iqra"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_iqra"
        android:supportsRtl="true"
        android:theme="@style/Theme.EIQRA"
        tools:targetApi="31">
        <activity
            android:name=".view.main.ui.home.AsmaListActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.ui.home.detail.DoaDetailActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.ui.home.DoaListActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.ui.quiz.QuizResultActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.ui.quiz.QuizActivity"
            android:exported="false" />
        <activity
            android:name=".view.tryprofile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.ui.learning.canvas.AnalyzeActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.ui.learning.canvas.CanvasActivity"
            android:exported="false" />
        <activity
            android:name=".view.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".view.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".view.welcome.LoginOptionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>